.main {
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 100px 0;
  color: white;
}

.davinci-image {
  width: 400px;
  background-color: white;
  padding: 20px;
}

.btn-credit {
  transition: all 0.5s;
  margin: 0.3em 0 !important;
  padding: 0 20px;
}

.btn-credit a {
  color: black;
}

.btn-credit:hover,
.btn-credit a:hover {
  background-color: rgb(153, 44, 255);
  border-radius: 0;
  color: rgb(238, 255, 0) !important;
  transform: translateY(-4px);
}

h1 {
  background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(238, 255, 5));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  list-style: none;
}

/*li:first-of-type {
  color: greenyellow;
}*/

li {
  margin: 0.8rem 0;
}

h5 {
  margin: 0 !important;
  padding: 0.5rem 0 !important;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  box-shadow: 5px 10px;
  border-radius: 10px;
  margin: 5px;
}

.btn-index:hover,
.btn-index a:hover {
background-color: rgb(0, 221, 255);
color: rgb(255, 255, 255) !important;
transform: translateY(-4px);
}

.btn-index a {
color: black;
}

.btn-index {
transition: all 0.5s;
margin: 0.3em 0;
}