@keyframes fade-inout{
  0%{ opacity: 1;}
  100%{ opacity: 0;}
}
@keyframes textzoom{
  0%{
    font-size: 10px;
  }
  100%{
    font-size: 30px;
  }
}

h2 {
  margin-bottom: 1.5rem;
}

h6 {
  margin: 0 !important;
  padding: 0.5rem 0 !important;
}

.wrapper {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2em 2em;
  color: white;
  /* background-image: url('../images/wave2.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-detailed {
  font-size: 10px;
}

.box {
  margin-top: 40px;
  text-align: center;
  padding: 1em 1em;
  box-shadow: 5px 10px;
  border-radius: 10px;
  align-items: center;
  background-color: white; 
}

.frame {
  margin-top: 40px;
  text-align: center;
  padding: 1em 1em;
  box-shadow: 5px 10px;
  border-radius: 10px;
  align-items: center;
  background-color: black; 
}

.button {
    background-color: rgb(80, 80, 80);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    box-shadow: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    font-size: 14px;
}

.button-flat {
  background-color: rgb(80, 80, 80);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 10px;
  margin: 5px;
  font-size: 14px;
}

.btn-index:hover,
.btn-index a:hover {
  background-color: rgb(0, 221, 255);
  color: rgb(255, 255, 255) !important;
  transform: translateY(-4px);
}

.btn-index a {
  color: black;
}

.btn-index {
  transition: all 0.5s;
  margin: 0.3em 0;
}

.container-data {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

#GameContent {
  position: relative;
  margin: 0 auto 0 auto;
  height: 600px;
  width: 100%;
  border-bottom: 5px solid rgb(0, 217, 255);
  background-color: rgba(0, 0, 0, 0.5);
}

/*.word {
  position: absolute;
  background-color: rgb(57, 198, 83);
  padding: 0 10;
  width: auto;
  height: auto;
  text-align: center;
}*/


#general.word {
  position: absolute;
  background-color: rgb(147, 153, 56);
  padding: 0 10;
  width: auto;
  height: auto;
  text-align: center;
}
#generalsp.word {
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: absolute;
  background-color: rgb(147, 153, 56);
  padding: 0 10;
  width: auto;
  height: auto;
  text-align: center;
}
#long.word {
  position: absolute;
  background-color: rgb(57, 198, 83);
  padding: 0 10;
  width: auto;
  height: auto;
  text-align: center;
}
#longsp.word {
  /*apply animation*/
  animation: fade-inout 0.25s infinite alternate;
  /*style the text*/
  position: absolute;
  background-color: rgb(57, 198, 83);
  padding: 0 10;
  width: auto;
  height: auto;
  text-align: center;
}
#angel.word {
  /*apply animation*/
  animation: textzoom 2s infinite alternate;
  /*style the text*/
  position: absolute;
  background-color: rgb(177, 31, 121);
  padding: 0 10;
  width: auto;
  height: auto;
  text-align: center;
}
#weapon.word {
  /*apply animation*/
  animation: textzoom 2s infinite alternate;
  /*style the text*/
  position: absolute;
  background-color: rgb(177, 31, 121);
  padding: 0 10;
  width: auto;
  height: auto;
  text-align: center;
}
.word p {
  position: relative;
  margin: 0;
}


.modal-gameover {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

input {
  border-radius: 0 !important;
  border: none !important;
}

.btn-modal {
  transition: all 0.5s;
  margin: 0.3em 0;
}

.btn-modal a {
  color: black;
}

.btn-modal:hover,
.btn-modal a:hover {
  background-color: rgb(153, 44, 255);
  border-radius: 0;
  color: rgb(238, 255, 0) !important;
  transform: translateY(-4px);
}

audio {
  position: absolute;
  top: 2%;
  right: 2%;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}