@font-face {
  font-family: 'chrustyRock';
  src: url('../font/chrustyRock.ttf');
  font-family: '04B_30';
  src: url('../font/04B_30__.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font: 0
}

body {
  font-family: '04B_30';
  background-image: url('../images/night_sky_pixel_art_by_h4ckz_devxmyy.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: min-content;
  height: 100vh;
  width: 100vw;
  margin: 0em auto;
}

input {
  margin-top: 10px;
}

p {
  margin-bottom: 0;
}

/*** Navbar ***/

.navbar {
  padding-top: 30px;
}

.nav-link,
.navbar-brand {
  color: white;
}

.nav-link {
  transition: all 0.5s;
}

.nav-link:hover {
  background-color: rgb(58, 18, 170);
  color: rgb(255, 255, 255) !important;
  transform: translateY(-4px);
}
