.main {
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 100px 0;
  color: white;
}

h1 {
  background: -webkit-linear-gradient(rgb(0, 221, 255), rgb(0, 0, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  background: -webkit-linear-gradient(rgb(238, 255, 0), rgb(143, 5, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  list-style: none;
}

li:first-of-type {
  color:  rgb(0, 255, 128);
}

.friend {
  color: cyan;
}

.time{
  color: red;
}

.fastly{
  color: rgb(80, 255, 118);
}
.greeny{
  color: rgb(10, 235, 58);
}
.yellowna{
  color: rgb(210, 223, 28);
}
.orangi{
  color: rgb(250, 117, 8);
}
.reddy{
  color: rgb(230, 60, 30);
}
.trap{
  color: rgb(158, 72, 147);
}
.chompoo{
  color: rgb(241, 47, 154);
}
.typewords{
  color: rgb(30, 236, 174);
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  box-shadow: 5px 10px;
  border-radius: 10px;
  margin: 5px;
}

.btn-index:hover,
.btn-index a:hover {
background-color: rgb(0, 221, 255);
color: rgb(255, 255, 255) !important;
transform: translateY(-4px);
}

.btn-index a {
color: black;
}

.btn-index {
transition: all 0.5s;
margin: 0.3em 0;
}

.box {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2em 2em;
  box-shadow: 5px 10px;
  border-radius: 10px;
  align-items: center;
  background-color: white;
  
}