.main {
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 100px 0;
  color: white;
}

h2 {
  background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(238, 255, 5));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  background: -webkit-linear-gradient(rgb(238, 255, 0), rgb(143, 5, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  list-style: none;
}

li:first-of-type {
  color:  rgb(0, 255, 128);
}

.friend {
  color: cyan;
}

.time{
  color: red;
}

.fastly{
  color: rgb(80, 255, 118);
}
.greeny{
  color: rgb(10, 235, 58);
}
.yellowna{
  color: rgb(210, 223, 28);
}
.orangi{
  color: rgb(250, 117, 8);
}
.reddy{
  color: rgb(230, 60, 30);
}
.trap{
  color: rgb(158, 72, 147);
}
.chompoo{
  color: rgb(241, 47, 154);
}
.typewords{
  color: rgb(30, 236, 174);
}