/*** Main Container ***/

.main {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px 0;
}

h1 {
  background: -webkit-linear-gradient(rgb(0, 221, 255), rgb(0, 0, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/*** Buttons ***/
/*** HOW TO PLAY, EASY, MEDIUM, HARD, CREDITS ***/
.buttons-container {
  margin: 30px 0;
}

.big {
  font-size: 50px;
  color:white;
  text-align: center;
}

.box {
  max-width: 600px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2em 2em;
  box-shadow: 5px 10px;
  border-radius: 10px;
  align-items: center;
  background-color: white;
  
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

.button {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    box-shadow: 5px 10px;
    border-radius: 10px;
    margin: 5px;
}

.btn-index {
  transition: all 0.5s;
  margin: 0.3em 0;
}

.center-main {
  padding-left: 50px;
  padding-right: 50px;
}

.center-box {
  max-width: 500px;
  align-items: center;
}

.center-element {
  align-items: center;
  text-align: center;
}

.btn-index:hover,
.btn-index a:hover {
  background-color: rgb(0, 221, 255);
  color: rgb(255, 255, 255) !important;
  transform: translateY(-4px);
}

.btn-index a {
  color: black;
}

/*** AUDIO ***/
#HomeSound {
  position: absolute;
  top: 2%;
  right: 2%;
}

/*** Buttons Text ***/
h2 {
  margin: 0 !important;
  padding: 0.5rem 0 !important;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}